@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --blue-color: #6e87de;
  --pink-color: #d9616f;
  --white: #ffffff;
}

* {
  font-family: "Nunito", sans-serif;
}

html {
  overflow-x: hidden;
}

/* Fix for bootstrap css */
p {
  margin-bottom: 0 !important;
}

/* Background */
body {
  height: 300vh;
  width: 100vw;
  background: black;
  background-image: url(Images/bg1920.png);
  background-position: cover;
  background-repeat: no-repeat;
}

/* Navbar */
ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 40px;
  position: fixed;
  z-index: 2;
  font-size: 25px;
}

li {
  margin: 10px;
  color: var(--white);
}

#navSpacing {
  width: 88vw;
  display: flex;
  align-items: center;
}
#navSpacing a {
  text-decoration: none;
  color: var(--white);
  transition: 0.5s;
}
#navSpacing a:hover {
  transition: 0.5s;
  color: var(--pink-color);
}

.right {
  position: absolute;
  right: 0;
  width: 0%;
  z-index: 3;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--white);
}

/* Email Username */
#name {
  color: var(--white);
  margin-left: -330px;
  width: 17vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Logout button */
#login,
#logout {
  width: 110px;
  height: 50px;
  border-radius: 75px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: var(--blue-color);
  color: var(--white);
  transition: 0.5s;
}

#logout {
  visibility: hidden;
}

#login:hover,
#logout:hover {
  transition: 0.5s;
  background: #aa3340;
}

/* modal footer */
.footer-login,
.footer-register,
.footer-reset {
  text-align: end;
  padding-right: 15px;
}
.footer-login {
  color: var(--blue-color);
  cursor: pointer;
}
#loginError,
#resetError,
#registerError {
  color: black;
  margin-bottom: 1rem !important;
}
#resetPass {
  color: var(--blue-color);
  cursor: pointer;
  padding-top: 10px;
}

/* Text above input */
.inputText {
  display: flex;
  justify-content: center;
  color: var(--white);
}

#inputHeader {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 0.5rem !important;
}

/* Input and send button */
#input {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#inputURL {
  width: 575px;
  height: 75px;
  border-radius: 75px 0 0 75px;
  border: none;
  outline: none;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 20px;
  color: var(--blue-color);
  box-shadow: 0 0 8px var(--white);
}
#send {
  width: 90px;
  height: 75px;
  border-radius: 0 75px 75px 0;
  background: var(--blue-color);
  border: none;
  cursor: pointer;
  padding-top: 5px;
  margin-left: -5px;
  box-shadow: 0 0 8px var(--blue-color);
}
#noURL {
  padding-top: 10px;
}

/* The Short URL */
#textID {
  display: none;
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 75px;
  background-color: var(--white);
  text-align: center;
  color: var(--white);
  padding-top: 10px;
  box-shadow: 0 0 8px var(--white);
}
#textID:hover {
  box-shadow: 0 0 10px var(--blue-color);
  transition: 0.5s;
}

#uniqueID {
  color: black;
  font-size: 20px;
}

/* Links section */
#linksSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--white);
}

#links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: 500px;
  visibility: hidden;
  overflow: scroll;
  padding: 10px;
  border-radius: 20px;
  background: var(--blue-color);
}

.URLS {
  margin-bottom: 1rem;
  background: #466eff;
  border-radius: 5px;
  padding: 5px;
}

.URLS:hover {
  text-shadow: 0 0 8px var(--white);
}

/* About section */
#aboutSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoHeader {
  display: flex;
  justify-content: center;
  color: var(--white);
  width: 1100px;
  font-size: 48px;
  margin: 0 auto;
  padding: 10px;
}

#infoIcons {
  display: flex;
  justify-content: space-evenly;
}
.infoIcon {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  padding: 15px;
  background: var(--blue-color);
  margin: 30px 0 10px 0;
}

.infoText {
  color: var(--white);
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/* 1280px */
@media only screen and (max-width: 1280px) {
  body {
    background-image: url(Images/bg1280.png);
  }
  ul {
    font-size: 20px;
    padding: 30px;
  }
  #navSpacing {
    width: 83vw;
  }
  #name {
    margin-left: -235px;
    width: 18vw;
  }
  #inputURL {
    width: 450px;
    height: 65px;
    padding-left: 20px;
  }
  #send {
    width: 100px;
    height: 65px;
  }
  #sendIcon {
    width: 35px;
    height: 35px;
  }
  #login {
    width: 100px;
    height: 50px;
    font-size: 20px;
  }
  .infoHeader {
    width: 800px;
    font-size: 35px;
  }
  .infoIcon {
    width: 50px;
    height: 50px;
    padding: 8px;
  }
  .infoText {
    font-size: 25px;
  }
}

/* 800px */
@media only screen and (max-width: 800px) {
  body {
    background-image: url(Images/bg800.png);
  }
  ul {
    font-size: 15px;
    padding: 20px;
  }
  #navSpacing {
    width: 79vw;
  }
  #name {
    margin-left: -150px;
    width: 23vw;
  }
  #inputURL {
    width: 370px;
    height: 65px;
    padding-left: 20px;
  }
  #send {
    width: 90px;
    height: 65px;
  }
  #sendIcon {
    width: 35px;
    height: 35px;
  }
  #login {
    width: 75px;
    height: 40px;
    font-size: 15px;
  }
  #textID {
    width: 430px;
    height: 80px;
  }
  #logout {
    width: 75px;
    height: 40px;
    font-size: 15px;
  }
  .infoHeader {
    width: 500px;
    font-size: 30px;
  }
  .infoIcon {
    width: 50px;
    height: 50px;
    padding: 8px;
  }
  .infoText {
    font-size: 25px;
    flex-direction: column;
  }
}

/* 476px */
@media only screen and (max-width: 476px) {
  body {
    background-image: url(Images/bg476.png);
  }
  ul {
    font-size: 15px;
    padding: 10px;
  }
  #navSpacing {
    width: 78vw;
  }
  #name {
    margin-left: -130px;
    width: 27vw;
  }
  #inputURL {
    width: 240px;
    height: 45px;
    padding-left: 20px;
  }
  #send {
    width: 60px;
    height: 45px;
  }
  #sendIcon {
    width: 25px;
    height: 25px;
  }
  #login {
    width: 70px;
    height: 30px;
    font-size: 13px;
  }
  #logout {
    font-size: 13px;
    width: 70px;
    height: 30px;
  }
  #textID {
    width: 280px;
    height: 70px;
  }
  #uniqueID {
    font-size: 15px;
  }
  .infoHeader {
    width: 300px;
    font-size: 20px;
  }
  .infoIcon {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
  .infoText {
    font-size: 20px;
  }
}
