@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); /* Nunito font */

/* Main colors */
:root {
  --blue-color: #6e87de;
  --pink-color: #d9616f;
  --white: #ffffff;
}

/* Custom scrollbar for chrome */
::-webkit-scrollbar {
  width: 5px;
  background-color: #2e313b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e87de;
  border-radius: 20px;
}

* {
  font-family: "Nunito", sans-serif;
  /* change color for scrollbar on firefox */
  scrollbar-color: #6e87de #2e313b;
}

/* hide scrollbar at the bottom */
html {
  overflow-x: hidden;
}

/* Fix for bootstrap css */
p {
  margin-bottom: 0 !important;
}
/* Default white and no underline */
a {
  text-decoration: none;
  color: var(--white);
}

/* Background if images are unloaded*/
body {
  background: var(--blue-color);
  overflow-x: hidden;
  height: 200vh;
  width: 100vw;
}

/* If theres an error in the shortened link */
.alert {
  display: none;
  position: fixed;
  z-index: 5;
  top: 90px;
  left: 50px;
}
#back {
  border: none;
  background: var(--pink-color);
  color: var(--white);
  cursor: pointer;
  border-radius: 75px;
}

/* navbar */
ul {
  display: flex;
  list-style-type: none;
  padding: 35px 35px 35px 45px;
  position: fixed;
  z-index: 2;
  font-size: 20px;
}

li a {
  color: var(--pink-color);
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}

li a:hover {
  text-shadow: 0 1px rgba(110, 135, 222, 0.5);
  transition: 0.3s;
}

li {
  margin: 10px;
}
.bigger {
  font-size: 22px;
}
.bigger a {
  color: var(--blue-color);
}

/* Login/Logout button */
#signupBtn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  padding: 0px 30px 30px 30px;
  position: fixed;
  z-index: 2;
  font-size: 25px;
}

/* Profile button */
#login,
#profile {
  width: 130px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 75px;
  transition: all 0.3s ease;
  background: linear-gradient(to right, #6e87de, #5449b9);
  color: var(--white);
  position: absolute;
  top: 40px;
  right: 55px;
  visibility: hidden;
}
#login:hover,
#profile:hover {
  background: linear-gradient(to right, #6e87de, #6749b9);
  box-shadow: 0 0 10px rgba(110, 135, 222, 0.5),
    0 0 20px rgba(110, 135, 222, 0.3), 0 0 30px rgba(110, 135, 222, 0.1);
  transform: translateY(-2px);
}

/* modal footer */
.footer-login,
.footer-register,
.footer-reset {
  text-align: end;
  padding-right: 15px;
}
.footer-login {
  color: var(--blue-color);
}
#loginError,
#resetError,
#registerError {
  color: var(--white);
  font-size: 14px;
  width: 350px;
}

/* reset password text */
.resetPass {
  border: none;
  background: none;
  margin-top: 10px;
  font-size: 0.875em;
  padding: 0;
  color: var(--blue-color);
  cursor: pointer;
  transition: 0.5s;
}
.resetPass:hover {
  color: #5449b9;
  transition: 0.5s;
}

.resetPass2 {
  text-align: center;
  width: 150px;
  margin-top: 15px;
  padding: 7px;
  font-size: 15px;
  color: #ffffff;
  background: var(--blue-color);
  border: none;
}

.form-text {
  color: var(--blue-color);
  padding-top: 10px;
}

/* Text above input */
.inputText {
  color: #bd2a5b;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0px rgba(0, 0, 0, 0.6);
  margin-left: 2.5rem !important;
}

#inputHeader {
  color: #6e87de;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem !important;
}

/* Input and send button */

#input {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

#inputURL {
  width: 575px;
  height: 70px;
  border: none;
  outline: none;
  border-radius: 0 75px 75px 0;
  padding: 0 60px 0 0;
  font-size: 15px;
  padding-bottom: 2px;
  margin-left: -5px;
  color: var(--blue-color);
}

#inputURL::placeholder {
  font-size: 15px;
}

#inputURLicon {
  height: 70px;
  padding: 20px;
  border-radius: 75px 0 0 75px;
  background: var(--white);
}

#send {
  width: 70px;
  height: 70px;
  border-radius: 75px;
  background: var(--pink-color);
  border: none;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -70px;
  transition: 0.5s;
}
#send:hover {
  background: #bd2a5b;
  transition: 0.5s;
}

#err {
  padding-top: 10px;
}

/* The Shortened URL */
#textID {
  display: none;
  width: auto;
  height: auto;
  margin: 15px 15px 0 15px;
  padding: 10px;
  border-radius: 75px;
  background-color: var(--white);
  text-align: center;
  color: var(--white);
  padding-top: 10px;
  box-shadow: 0 0 8px var(--white);
  transition: 0.5s;
}
#textID:hover {
  box-shadow: 0 0 10px var(--blue-color);
  transition: 0.5s;
}

#uniqueID {
  color: black;
  font-size: 20px;
}

/* Copy to clipboard icon */
.copy {
  border: none;
  background: #d9616f;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  visibility: hidden;
  box-shadow: 0 0 8px var(--white);
  transition: 0.5s;
}
.copy:hover {
  box-shadow: 0 0 10px var(--blue-color);
  transition: 0.5s;
}

#copyIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

/* link shortener background */
#urlSection {
  height: 100vh;
  background-image: url(Images/shortener.webp);
  background-size: auto;
  background-repeat: no-repeat;
}

/* bootstrap modal changes */
.modal {
  --bs-modal-header-border-color: var(--white);
  --bs-modal-footer-border-color: var(--white);
  --bs-modal-width: 450px;
  color: var(--white);
}

.linksModal {
  --bs-modal-width: 600px !important;
}
.linksHeader,
.linksBody,
.linksFooter,
.linksContent {
  width: 600px !important;
}

.linksFooter,
.deleteFooter {
  justify-content: space-between;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
  background: #2e313b;
  width: 450px;
}
.btn {
  border-radius: 75px;
}
.form-control {
  background: rgb(34, 34, 34);
  color: var(--white);
}

/* Profile section */
/* Your links on your profile */
#links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* your email in profile */
#linksName {
  color: var(--white);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
}
/* shortened link */
.URLS {
  background: #6e86de8e;
  border-radius: 5px;
  padding: 3px;
}
/* url */
.LINKS {
  color: #576dbd;
  padding-bottom: 20px;
}

.URLS:hover {
  text-shadow: 0 0 8px var(--white);
}

/* .ph-copy {
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
} */

/* About section */
#aboutSection {
  background-image: url(Images/about.webp);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.infoHeader {
  display: flex;
  justify-content: center;
  color: var(--white);
  width: 100%;
  font-size: 48px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.infoIcon {
  width: 60px;
  height: 60px;
  padding: 10px;
  left: 180px;
  border: 5px solid white;
  background: var(--blue-color);
  border-radius: 50%;
  position: absolute;
  top: -30px;
}

#infoIcons {
  display: flex;
  justify-content: space-evenly;
}

/* fix position for icons */
.middle {
  vertical-align: -0.2em;
}
/* icons in titles */
.title {
  width: 20px !important;
  height: 20px !important;
}

/* Mobile and some tablets */
@media only screen and (max-width: 767px) {
  #urlSection {
    background-image: url(Images/mobile-shortener.webp);
    background-size: cover;
  }
  #aboutSection {
    background-image: url(Images/mobile-about.webp);
    justify-content: center;
    padding-bottom: 100px;
  }

  #login,
  #profile {
    top: 30px;
    right: 30px;
    width: 120px;
    height: 40px;
    font-size: 17px;
  }

  .alert {
    top: 60px;
    left: 20px;
    width: 200px;
    height: auto;
  }

  ul {
    padding: 22px 22px 22px 18px;
    font-size: 19px;
  }

  li {
    margin: 5px;
  }

  .bigger {
    font-size: 21px;
  }

  #signupBtn .title {
    width: 18px !important;
    height: 18px !important;
  }

  #input {
    justify-content: center;
  }

  #inputHeader {
    font-size: 20px;
  }

  #err {
    font-size: 17px;
  }

  #inputURL {
    width: 500px;
    height: 65px;
    border-radius: 75px;
    padding-left: 20px;
    font-size: 16px;
  }

  #inputURL::placeholder {
    font-size: 16px;
  }

  #inputURLicon {
    display: none;
  }

  #send {
    width: 55px;
    height: 55px;
    margin-left: -60px;
  }

  #sendIcon {
    width: 35px;
    height: 35px;
  }

  #textID {
    padding: 5px;
    margin: 10px;
  }

  #uniqueID {
    font-size: 16px;
  }

  #links {
    height: 400px;
  }

  .URLS {
    font-size: 15px;
  }

  .LINKS {
    font-size: 13px;
  }

  /*   .ph-copy {
    font-size: 15px;
    background: #6e87de;
    border-radius: 15px;
  } */

  .col {
    display: flex;
    justify-content: center;
  }

  .linksHeader,
  .linksBody,
  .linksFooter,
  .linksContent {
    width: 500px !important;
  }
  .linksModal {
    --bs-modal-width: 500px !important;
  }

  .copy {
    width: 40px;
    height: 40px;
  }
  #copyIcon {
    margin-top: -30px;
  }
}

/* Fix modal for this resolution */
@media only screen and (max-width: 575px) {
  .modal-dialog-centered {
    justify-content: center;
  }
  #login,
  #profile {
    top: 20px;
    right: 20px;
    width: 100px;
    height: 35px;
    font-size: 15px;
  }

  ul,
  #inputHeader {
    font-size: 15px;
  }

  .bigger {
    font-size: 17px;
  }

  #signupBtn .title {
    width: 15px !important;
    height: 15px !important;
  }

  .title {
    width: 14px !important;
    height: 14px !important;
  }

  #err {
    font-size: 12px;
  }

  #inputURL,
  #inputURL::placeholder {
    width: 300px;
    height: 50px;
    border-radius: 75px;
    padding-left: 20px;
    font-size: 12px;
  }

  #inputURLicon {
    display: none;
  }

  #send {
    width: 40px;
    height: 40px;
    margin-left: -45px;
  }

  #sendIcon {
    width: 28px;
    height: 28px;
  }

  #textID {
    padding: 5px;
    margin: 10px;
  }

  #uniqueID {
    font-size: 10px;
  }

  #links {
    height: 300px;
  }

  .URLS {
    background: #00000000;
    font-size: 13px;
  }

  .modal-title {
    font-size: 15px !important;
  }

  .linksBody h5,
  .LINKS,
  #linksName {
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
    height: 30px;
  }

  .linksHeader,
  .linksBody,
  .linksFooter,
  .linksContent {
    width: 300px !important;
  }
  .linksModal {
    --bs-modal-width: 300px !important;
  }
  .copy {
    width: 30px;
    height: 30px;
  }
  #copyIcon {
    margin-top: -20px;
  }
}
